// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');

// Variables
$font-stack: 'Josefin Sans', sans-serif;
$logo-font: 'Dr Sugiyama', cursive;

// Color variables
$primary-color: white;
$secundairy-color: #333333;
$light-color: #f3f3f3;
$logo-color: white;  //#F2E7B8

$info-color: red;

body {
  font: 100% $font-stack;
  background: $primary-color;
  color: $secundairy-color;
  p.site-description {
    color: $primary-color;
  }
  .site-title a {
    color: $primary-color;
    font: 200% $logo-font;
    font-size: 2.5em;
  }
  .site-header-cart .cart-contents{
    color: $primary-color;
  }
  .site-footer {
    font: 100% $font-stack;
    background-color: $light-color;
  }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $info-color;
  }
  .main-navigation ul li {
    a {
      color: white;
    }
    a:hover {
      color: grey;
    }
  }
  ul.products img {
      margin-bottom: 1.618em;
      border: 5px solid #444;
      border-style: solid;
  }
  .entry-title {
    border-bottom: 1px solid black;
  }
  .storefront-full-width-content h1:last-child, {
    border-bottom: 1px solid black;
  }
  .storefront-handheld-footer-bar ul li.home > a:before {
	content: "\f015";
  }
}

.site-header ul.menu li.current-menu-item > a {
  color: purple;
}
