/*
Theme Name: storefront-child
Theme URI: http://localhost:8888/chocogiftz/
Description: Child theme of Storefront for chocolate webshop
Author: Tim van Broekhoven
Author URI: http://epicwebapps.com
Template: storefront
Version: 0.1
Text Domain: storefront-child
Template: storefront
*/
