// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
$font-scotch: 'Karla', sans-serif;
$font-stack: 'Josefin Sans', sans-serif;
$logo-font: 'Dr Sugiyama', cursive;

// Color variables
$primary-color: white;
$secundairy-color: #333333;
$light-color: #f3f3f3;
$logo-color: #F2E7B8;

$info-color: red;

body {
  font: 100% $font-scotch;
  background: $primary-color;
  color: $secundairy-color;

  // Sticky-header
  .site-header {
  	position: fixed;
  	width: 100%;
  	z-index: 1000;
    top: 0;
  }
  .main-content {
  	padding-top: 400px; /* adjust this to match the height of your header */
    width: 100%;
  }
  .storefront-breadcrumb {
    padding-top: 300px;
  }
  p.site-description {
    color: $primary-color;
  }
  .site-title a {
    color: $primary-color;
    font: 200% $logo-font;
    font-size: 2.5em;
  }
  .site-header-cart .cart-contents{
    color: $primary-color;
  }
  .site-footer {
    font: 100% $font-stack;
    background-color: $light-color;
  }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $info-color;
  }
  .main-navigation ul li {
    a {
      color: white;
    }
    a:hover {
      color: grey;
    }
  }
  ul.products img {
      margin-bottom: 1.618em;
      border: 5px solid #444;
      border-style: solid;
  }
  .entry-title {
    border-bottom: 1px solid black;
  }
  .storefront-full-width-content h1:last-child, {
    border-bottom: 1px solid black;
  }
  .storefront-handheld-footer-bar ul li.home > a:before {
	content: "\f015";
  }

  @media screen and (min-width: 768px) {

  	#masthead {

      /*positioning the main-navigation */
      .main-navigation {
    		//text-align: right;
    		position: fixed;
        float:left;
    		top: 0;
    		//right: 500px;
    		width: auto;
        ul.menu>li>a, ul.nav-menu>li>a {
          padding: 1em 1em;
        }
    	}

    	/*positioning the logo*/
      .custom-logo-link {
    		position: fixed;
        display: inline-block;
    		top: 0;
    		margin: 0;
    		padding: 0;
        /*resizing the logo image */
        img {
      		width: auto;
      		height: 40px;
      	}
    	}

  	   /*positioning the cart-menu */
      .site-header-cart {
      	width: 14% !important;
      	position: fixed !important;
      	top: 0;
      	right: 12%;
      	padding: 0;
        /*adjusting default margins and paddings*/
        .cart-contents {
            padding:1em 0;
        }
      }
      .site-search {
        // Remove site-search from header
        //display:none;
        .widget_product_search {
          /* positions the search icon properly in the search box*/
        	form:before {
        		top: 1.75em;
        		left: 0.5em;
        		position: relative;
        	}
        	/*  resizes the search box*/
        	input[type=search], input[type=text] {
        		padding: .3em .3em .3em 2em;
        		line-height: 1.5;
      	  }
        }
      }

    } // end masthead

    /* Center Logo */
    .site-branding{
      text-align: center;
      margin: 0 auto !important;
      float: none !important;
      margin-bottom: 1em;
      display: inline-block;
    }

    /*adjusting the width of the main-navigation*/
    .woocommerce-active .site-header .main-navigation {
      width: 50%;
    }
  } // end media screen
} // end body

/* Styles placed here will only apply to screens less than 768 pixels wide */
// @media only screen and (max-width: 768px)  {
//   body {
//     .site-branding {
//       .site-title a {
//         font-size: 1.4em;
//         font-weight: 500;
//       }
//     }
//   }
// }

.handheld-navigation .menu  {
  // Style the primary menu items of the Toggle-menu (Mobile version)
  .main__link a {
    font-size: 1.5rem;
    line-height: 0.5rem;
  }
  // Style the secundairy menu items of the Toggle-menu (Mobile version)
  .secundairy__link a {
    //
  }
  // Style
}

#menu-item-131 {
  padding-top: 1.6em;
}
// Add horizantol line to split menu-sections:
#menu-item-448 {
  border-bottom: 1px solid $logo-color;
  padding: 0 0 2em;
  margin-bottom: 2em;
}
#menu-item-135 {
  border-bottom: 1px solid $logo-color;
  padding: 0 0 2em;
  margin-bottom: 1.5em;
}
