// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
$font-scotch: 'Karla', sans-serif;
$font-stack: 'Josefin Sans', sans-serif;
$logo-font: 'Dr Sugiyama', cursive;

// Color variables
$primary-color: white;
$secundairy-color: #333333;
$light-color: #f3f3f3;
$logo-color: #F2E7B8;

$info-color: red;

body {
  font: 100% $font-scotch;
  background: $primary-color;
  color: $secundairy-color;

  .main-content {
    padding-top: 400px; /* adjust this to match the height of your header */
    width: 100%;
  }
  p.site-description {
    color: $primary-color;
  }
  .site-title a {
    color: $primary-color;
    font: 200% $logo-font;
    font-size: 2.5em;
  }
  .site-header-cart .cart-contents{
    color: $primary-color;
  }
  .site-footer {
    font: 100% $font-stack;
    background-color: $light-color;
  }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $info-color;
  }
  .main-navigation ul li {
    a {
      color: white;
    }
    a:hover {
      color: grey;
    }
  }
  ul.products img {
      margin-bottom: 1.618em;
      border: 5px solid #444;
      border-style: solid;
  }
  .entry-title {
    border-bottom: 1px solid black;
  }
  .storefront-full-width-content h1:last-child, {
    border-bottom: 1px solid black;
  }
  .storefront-handheld-footer-bar ul li.home > a:before {
  content: "\f015";
  }

  .site-header {

    .handheld-navigation {

      .menu  {
        color: white;
        // Style the primary menu items of the Toggle-menu (Mobile version)
        .main__link a {
          font-size: 1.5rem;
          line-height: 0.5rem;
        }
        // Style the secundairy menu items of the Toggle-menu (Mobile version)
        .secundairy__link a {
          //
        }
        // Style the links to information pages
        .information__item a {
          color: grey;
        }
      }
    }
  } // end site-header (width < 768px)

  #menu-item-131 {
    padding-top: 1.6em;
  }
  // Add horizantol line to split menu-sections:
  #menu-item-448 {
    border-bottom: 1px solid $logo-color;
    padding: 0 0 2em;
    margin-bottom: 2em;
  }
  #menu-item-135 {
    border-bottom: 1px solid $logo-color;
    padding: 0 0 2em;
    margin-bottom: .8em;
  }

  // Delete 'Aanbieding!'
  .onsale {
    //display: none;
    background-color: #FFFFFF;
    border-color: #FF0000 !important;
    color: #FF0000 !important;
  }

  /* Only Desktop-viewv*/
  @media screen and (min-width: 768px) {
  	.site-branding{
      text-align: center;
  		margin: 0 auto !important;
  		float: none !important;
  	}

    .page-title {
      border-bottom:1px solid $secundairy-color;
    }

    // Adjusting the width of the main-navigation
    .woocommerce-active .site-header .main-navigation {
    	width: 50%;
    }

    #masthead .custom-logo-link img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      width: auto;
      height: 60px;
    }

  	// Positions the search icon properly in the search box
  	#masthead .site-search .widget_product_search form:before {
  		top: 1.75em;
  		left: .5em;
  		position: relative;
  	}
  	/*  resizes the search box*/
  	#masthead .site-search .widget_product_search input[type=search],#masthead .site-search .widget_product_search input[type=text] {
  		padding: .5em .5em .5em 2em;
  		line-height: 1;
  	}

    // Positioning the cart-menu
    #masthead .site-header-cart {
      margin-left: 15px;
      // width: 14% !important;
      // position: fixed !important;
      // top: 0;
      // right: 12%;
      // padding: 0;
    }

    // Places the search box to the left of the cart menu(optional)
    .woocommerce-active .site-header .site-search {
      float: left;
    }

  } // end Desktop view

} // end body
