// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');

// Variables
$font-stack: 'Josefin Sans', sans-serif;
$logo-font: 'Dr Sugiyama', cursive;

// Color variables
$primary-color: white;
$secundairy-color: #333333;
$light-color: #f3f3f3;
$logo-color: white;  //#F2E7B8

$info-color: red;

body {
  font: 100% $font-stack;
  background: $primary-color;
  color: $secundairy-color;
  // Sticky-header
  .site-header {
	position: fixed;
	width: 100%;
	z-index: 1000;
  }
  .main-content {
	padding-top: 400px; /* adjust this to match the height of your header */
  }
  .storefront-breadcrumb {
    padding-top: 300px;
  }
  p.site-description {
    color: $primary-color;
  }
  .site-title a {
    color: $primary-color;
    font: 200% $logo-font;
    font-size: 2.5em;
  }
  .site-header-cart .cart-contents{
    color: $primary-color;
  }
  .site-footer {
    font: 100% $font-stack;
    background-color: $light-color;
  }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $info-color;
  }
  .main-navigation ul li {
    a {
      color: white;
    }
    a:hover {
      color: grey;
    }
  }
  ul.products img {
      margin-bottom: 1.618em;
      border: 5px solid #444;
      border-style: solid;
  }
  .entry-title {
    border-bottom: 1px solid black;
  }
  .storefront-full-width-content h1:last-child, {
    border-bottom: 1px solid black;
  }
  .storefront-handheld-footer-bar ul li.home > a:before {
	content: "\f015";
  }

  // @media screen and (min-width: 768px) {
  // 	.site-branding{
  // 		text-align: center;
  // 		margin: 0 auto !important;
  // 		float: none !important;
  // 	}
  // }
  // /*adjusting the width of the main-navigation*/
  // .woocommerce-active .site-header .main-navigation {
  //   width: 50%;
  // }

    @media screen and (min-width: 768px) {
  	/*centers the logo*/
  	.site-branding{
  		text-align: center;
  		margin: 0 auto !important;
  		float: none !important;
  	}
  	/* adjusts the width of the main navigation container to accommodate the search box in the same line*/
  	.woocommerce-active .site-header .main-navigation {
  		width: 50%;
  	}
  	/* positions the search icon properly in the search box*/
  	#masthead .site-search .widget_product_search form:before {
  		top: 1.75em;
  		left: .75em;
  		position: relative;
  	}
  	/*  resizes the search box*/
  	#masthead .site-search .widget_product_search input[type=search],#masthead .site-search .widget_product_search input[type=text] {
  		padding: .5em .5em .5em 2em;
  		line-height: 1;
  	}
  	/* places the search box to the left of the cart menu(optional)*/
  	.woocommerce-active .site-header .site-search {
  		float: left;
  	}

  }
}

/* Styles placed here will only apply to screens less than 1000 pixels wide */
// @media only screen and (max-width: 1000px)  {
//   body {
//     .site-branding {
//       .site-title a {
//         font-size: 1.4em;
//         font-weight: 500;
//       }
//     }
//   }
// }
