// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
$font-scotch: 'Karla', sans-serif;
$font-stack: 'Josefin Sans', sans-serif;
$logo-font: 'Dr Sugiyama', cursive;

// Color variables
$primary-color: white;
$secundary-color: #532b0f;
$light-color: #f3f3f3;
$logo-color: #FF0080;
$info-color: orange;
$secundary-text-color: #dbdfe2;
$hover-color: grey;
$light-logo-color: #b160265d;

/*
  Header 
  ----------------------------------------------------------------
*/
.site-header {
  background-color: $secundary-color;  
  .col-full {
    // margin-bottom: 0;
    // padding-bottom: 0;
  }
  .site-branding {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .main-navigation ul li {
    font: 110% $font-scotch;
    a {
      margin-top: 5px;
      color: $primary-color;
    }
    a:hover {
      color: $hover-color;
      text-decoration: none;
    }

  }
} // site-header

/*
  Desktop Header
  ----------------------------------------------------------------
*/
@media screen and (min-width: 768px) {
  .secondary-navigation {
    font-size: 1em;
    ul.menu #menu-item-587 a {
      padding: .2em .75em;
      border-right: solid grey 1px;
    }
    ul.menu #menu-item-595 a {
      padding: .2em .75em;
      border-right: solid grey 1px;
    }
    ul.menu #menu-item-588 a {
      padding: .2em .75em;
      border-right: solid grey 1px;
    }
    ul.menu a {
      color: $secundary-text-color;
    }
  }
  .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    float: right;
    margin: 0;
    margin-top: 10px;
    color: $primary-color;
  }
}

/*
  Mobile Header
  ----------------------------------------------------------------
*/
@media(max-width: 767px) {
  .storefront-primary-navigation {
    display: block !important;
  }

  button.menu-toggle {
    background: $primary-color !important;
    color: $secundary-color;
  }

  .main-navigation ul li a,
  .site-title a, ul.menu li a,
  .site-branding h1 a,
  .site-footer .storefront-handheld-footer-bar a:not(.button),
  .handheld-navigation .dropdown-toggle {
    color: $primary-color !important;
  }

  .main-navigation ul li {
    font: 100% $font-scotch;
    a {
      color: white;
    }
    #menu-item-449 a {
      color: yellow;
    }
    a:hover {
      color: $hover-color;
    }
  }

  .site-header {
    .handheld-navigation {
      .menu  {
        color: white;
        // Style the primary menu items of the Toggle-menu (Mobile version)
        .main__link a {
          font-size: 1.5rem;
          line-height: 0.5rem;
        }
        // Style the secundairy menu items of the Toggle-menu (Mobile version)
        .secundairy__link a {
          //
        }
        // Style the links to information pages
        .information__item a {
          color: grey;
        }
      }
    }
  } // end site-header (width < 768px)
} //end max-width 767px

#menu-item-131 {
  padding-top: 1.6em;
}
// Add horizantol line to split menu-sections:
#menu-item-448 {
  border-bottom: 1px solid $logo-color;
  padding: 0 0 2em;
  margin-bottom: 2em;
}
#menu-item-135 {
  border-bottom: 1px solid $logo-color;
  padding: 0 0 2em;
  margin-bottom: .8em;
}

/*
  Links
  ----------------------------------------------------------------
*/
a {
  color: $secundary-color;
  text-decoration: none;
}
a:hover {
  color: $hover-color;
  text-decoration: none;
}

/*
  Storefront Breadcrumb
  ----------------------------------------------------------------
*/
.storefront-breadcrumb {
  a:hover {
    text-decoration: none;
    color: $secundary-color;
  }
}

/*
  Body
  ----------------------------------------------------------------
*/

.button {
  background-color: $secundary-color;
}
h1, h2, h3, h4, h5, h6 {
  color: $secundary-color;
}
body {
  font: 100% $font-scotch;
  background: $primary-color;
  color: $secundary-color;

  .main-content {
    padding-top: 400px; /* adjust this to match the height of your header */
    width: 100%;
  }
  .site-header-cart .cart-contents{
    color: $primary-color;
  }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $info-color;
  }

  /*
    Products
    ----------------------------------------------------------------
  */

  .popular {
    border-bottom:1px solid $secundary-color;
  }
  ul.products {
    margin-top: 30px;
    img {
        border: 2px solid $secundary-color;
        border-style: solid;
        //border-radius:
    }
  }
  .entry-title {
    border-bottom: 1px solid $secundary-color;
    text-align: center;
  }
  .storefront-full-width-content h1:last-child, {
    border-bottom: 1px solid $secundary-color;
  }

  /* Sale */
  ul.products li.product .onsale {
    position: absolute;
    top: 137px;
    right: 62px;
  }

  /* Delete 'Aanbieding!' */
  .onsale {
    display: none;
  }

  @media(max-width: 767px) {
    .woocommerce-product-gallery__wrapper {
      border: 2px solid $secundary-color;
      border-style: solid;
    }
  }

  /*
    Order by
    ----------------------------------------------------------------
  */
  .orderby {
    border: 1px;
    padding: 5px 5px 5px 5px;
    background-color: $light-color;
  }

} // end body

/*
  Footer
  ----------------------------------------------------------------
*/

.site-footer {
  font: 100% $font-stack;
  background-color: $light-logo-color;
}

.site-info {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: -50px;
}

/*
  Only desktop view
  ----------------------------------------------------------------
*/
@media screen and (min-width: 768px) {

  .page-title {
    border-bottom:1px solid $secundary-color;
  }

  // Adjusting the width of the main-navigation
  .woocommerce-active .site-header .main-navigation {
  	width: 70%;
  }

  #masthead .custom-logo-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
    width: auto;
    height: 100px;
  }

	/*  resizes the search box*/
	#masthead .site-search .widget_product_search input[type=search],#masthead .site-search .widget_product_search input[type=text] {
		padding: .5em .5em .5em 2em;
		line-height: 1;
	}

  .widget_product_search {
    position: relative;
    margin-top: 1.1em;
  }

  #menu-item-449 a {
    color: $logo-color;
  }

  #menu-item-449 a:hover {
    color: $hover-color;
  }

} // end Desktop view


/*
  Webpage Width Settings
  ----------------------------------------------------------------
*/
// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: .7em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

body {

  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}

@media screen and (min-width: 1400px) {
  .header .container {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1900px) {
  .header .container  {
    width: 95%;
  }
}

/*
  Slide In Down
  ----------------------------------------------------------------
*/
.storefront-sticky-add-to-cart--slideInDown { display: none; }

/*
  Handheld Footer Bar (unhooked in functions.php)
  ----------------------------------------------------------------
*/
.storefront-handheld-footer-bar ul li.home > a:before {
  content: "\f015";
}

.woocommerce-mini-cart-item {
  background-color: white;
}
.woocommerce-mini-cart__total {
  background-color: white;
}
.woocommerce-mini-cart__buttons {
  background-color: white;
}

.widget_shopping_cart_content {
  background-color: white;
}

/*
  Contact Page
  ----------------------------------------------------------------
*/

*{
  margin: 0;
}
section{
  background-color: $secundary-color;
  padding: 2rem 0;
  text-align: left;
}
.contact{
  display: inline-block;
  text-align: left;
}
.contact h2{
  color: white;
  font-weight: 500;
  /*text-align: center;                   removed  */
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 40px;                  /*  added  */
}
.contact ul{
  padding-left: 0;                    /*  added  */
}
.contact li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact li:last-child{
  margin: 0;
}
.contact a{
  color: white;
  text-decoration: none;
}
.contact a:hover{
  color: $logo-color;
}
.contact p{
  color: white;
  line-height: 1.4;
}
.contact .fa{
  color: white;
  font-size: 1.5rem;
  line-height: 30px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
}

/*
  Woocommerce pages full-width.
  ----------------------------------------------------------------
*/
body.woocommerce #primary {
	float: none;
	width: 100%;
}